html ,body{
    background-color: aliceblue;
    height: 100%;
}

img{
    width: 3%;
    min-width: 20px;
}

#sticker{
    width: 20%;
    min-width: 20px;
}

#chat{
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;
    margin-top: 10px;
    width: 99%;
    height: 60%;
    border: 1px solid gray;
    background-color: #aaaaaa;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* #chat::-webkit-scrollbar {
    display: none;
} */

#txt{
    overflow: auto;
}

.frame-right{
    float: right;
    clear: both;
    width: 45%;
}

.frame-left{
    float: left;
    clear: both;
    width: 45%;
}

.message{
    clear: both;
    padding: 5px;
    border:1px solid;
    border-radius: 10px;
    width: 100%;
    overflow-wrap: break-word;
    background-color: white;
}