body{
    height: 100%;
    background-color: aliceblue;
}

.form-signin {
    width: 25%;
    margin: auto;
    min-width: 200px;
}

img{
    width: 50%;
    height: auto;
}

#register{
    width: 365px;
}

@media only screen and (max-width:1300px){
    #register{
        width: 180px;
    }
}